<%- include('widgets/sidebar') %>
<% if (theme.shuoshuo.use == 0) { %>
    <p><%= __('shuoshuo.no_config') %></p>
<% } else if (theme.shuoshuo.use == 1) { %>
    <%- include('widgets/index/shuoshuo_qexo.ejs') %>
<% } else if (theme.shuoshuo.use == 2) { %>
    <%- include('widgets/index/shuoshuo_theme.ejs') %>
<% } %>